html,body{
	min-height: 100%;
	display: flex;
	flex-direction: column;
	font-weight: 300;
	line-height: 1.5;
}

body{
	font-family: 'Lato',sans-serif;
	background-color: #dee7ff;
	background-image: url(IMG_0585.JPG);
}

